html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
ul,
ol {
  list-style: none;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600 !important;
}
.navbar.navbar-default {
  border: none;
  background: #304153;
  font-size: 1.1em;
}
.navbar.navbar-default .container-fluid {
  padding: 10px 15px;
}
.navbar.navbar-default .nav.navbar-nav li {
  border-right: 1px solid #B4CDCD;
}
.navbar.navbar-default .nav.navbar-nav li a {
  color: #fff;
}
.navbar.navbar-default .nav.navbar-nav li a:hover {
  color: #73B1B7;
}
.navbar.navbar-default .nav.navbar-nav li:last-child {
  border-right: none;
}
@media screen and (max-width: 768px) {
  .navbar.navbar-default .container-fluid {
    padding: 0 15px;
  }
}
.palleteBlueCyanDown {
  background: #20A4DC;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#86E7F7, #20A4DC, #012897);
  /* Standard syntax */
}
.palleteBlueCyanRight {
  background: #20A4DC;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #86E7F7, #20A4DC, #012897);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #86E7F7, #20A4DC, #012897);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #86E7F7, #20A4DC, #012897);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #86E7F7, #20A4DC, #012897);
  /* Standard syntax */
}
section {
  margin-bottom: 50px;
}
.container {
  background: #F9F9F9;
}
.main-details {
  color: #304153;
}
.personal-details .left-row .parenthesis-img {
  height: 200px;
}
.personal-details .right-row {
  padding: 20px 0;
}
.personal-details:before {
  content: '';
  position: absolute;
  background: #20A4DC;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #86E7F7, #20A4DC, #012897);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #86E7F7, #20A4DC, #012897);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #86E7F7, #20A4DC, #012897);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #86E7F7, #20A4DC, #012897);
  /* Standard syntax */
  top: 0;
  left: 100px;
  height: 5px;
  width: 90%;
}
.personal-details:after {
  content: '';
  position: absolute;
  background: #20A4DC;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #86E7F7, #20A4DC, #012897);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #86E7F7, #20A4DC, #012897);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #86E7F7, #20A4DC, #012897);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #86E7F7, #20A4DC, #012897);
  /* Standard syntax */
  top: 195px;
  left: 100px;
  height: 5px;
  width: 90%;
}
.knowledge-container .tech-knowledge .content-container .dev-environment:before {
  content: '';
  position: absolute;
  background: #20A4DC;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#86E7F7, #20A4DC, #012897);
  /* Standard syntax */
  top: 23px;
  left: 0;
  height: 50px;
  width: 5px;
}
.knowledge-container .tech-knowledge .content-container .dev-languages:before {
  content: '';
  position: absolute;
  background: #20A4DC;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#86E7F7, #20A4DC, #012897);
  /* Standard syntax */
  top: 23px;
  left: 0;
  height: 50px;
  width: 5px;
}
.knowledge-container .tech-knowledge .content-container .dev-courses-tech:before {
  content: '';
  position: absolute;
  background: #20A4DC;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#86E7F7, #20A4DC, #012897);
  /* Standard syntax */
  top: 23px;
  left: 0;
  height: 230px;
  width: 5px;
}
.knowledge-container .high-education .content-container:before {
  content: '';
  position: absolute;
  background: #20A4DC;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#86E7F7, #20A4DC, #012897);
  /* Standard syntax */
  top: 23px;
  left: 0;
  height: 70px;
  width: 5px;
}
.knowledge-container .education .content-container:before {
  content: '';
  position: absolute;
  background: #20A4DC;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#86E7F7, #20A4DC, #012897);
  /* Standard syntax */
  top: 23px;
  left: 0;
  height: 70px;
  width: 5px;
}
.experience {
  background: beige;
  border-top: 3px solid #304153;
  border-bottom: 3px solid #304153;
  padding-bottom: 25px;
}
