html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
ul,
ol {
  list-style: none;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600 !important;
}
.navbar.navbar-default {
  border: none;
  background: #304153;
  font-size: 1.1em;
}
.navbar.navbar-default .container-fluid {
  padding: 10px 15px;
}
.navbar.navbar-default .nav.navbar-nav li {
  border-right: 1px solid #B4CDCD;
}
.navbar.navbar-default .nav.navbar-nav li a {
  color: #fff;
}
.navbar.navbar-default .nav.navbar-nav li a:hover {
  color: #73B1B7;
}
.navbar.navbar-default .nav.navbar-nav li:last-child {
  border-right: none;
}
.navbar.navbar-default .nav.navbar-nav li .dropdown-menu {
  background: #304153;
  color: #fff;
  border-radius: 5px;
}
.navbar.navbar-default .nav.navbar-nav li .dropdown-menu li {
  border-right: none;
}
.navbar.navbar-default .nav.navbar-nav li .dropdown-menu li a:hover {
  color: #304153;
}
@media screen and (max-width: 768px) {
  .navbar.navbar-default .container-fluid {
    padding: 0 15px;
  }
}
.palleteBlueCyanDown {
  background: #20A4DC;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#86E7F7, #20A4DC, #012897);
  /* Standard syntax */
}
.palleteBlueCyanRight {
  background: #20A4DC;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, #86E7F7, #20A4DC, #012897);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, #86E7F7, #20A4DC, #012897);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, #86E7F7, #20A4DC, #012897);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, #86E7F7, #20A4DC, #012897);
  /* Standard syntax */
}
section {
  margin-bottom: 50px;
}
.container {
  background: #F9F9F9;
}
.header-container .main-details {
  color: #304153;
}
.personal-details {
  padding: 50px 0;
  background: #fff;
}
.personal-details .left-row .parenthesis-img {
  height: 200px;
}
.personal-details .left-row .icons-container {
  padding-top: 10px;
}
.personal-details .left-row .icons-container .logo-img {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  object-fit: contain;
  animation: firstSpin 1s linear 0.5s;
}
.personal-details .right-row {
  padding: 20px 0;
}
.personal-details:before {
  content: '';
  position: absolute;
  background: #20A4DC;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, #86E7F7, #20A4DC, #012897);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, #86E7F7, #20A4DC, #012897);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, #86E7F7, #20A4DC, #012897);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, #86E7F7, #20A4DC, #012897);
  /* Standard syntax */
  top: 50;
  left: 100px;
  height: 5px;
  width: 90%;
}
.personal-details:after {
  content: '';
  position: absolute;
  background: #20A4DC;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, #86E7F7, #20A4DC, #012897);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, #86E7F7, #20A4DC, #012897);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, #86E7F7, #20A4DC, #012897);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, #86E7F7, #20A4DC, #012897);
  /* Standard syntax */
  top: 245px;
  left: 100px;
  height: 5px;
  width: 90%;
}
.knowledge-container .high-education .content-container .education-icon {
  margin-left: 5px;
}
.knowledge-container .high-education .content-container:before {
  content: '';
  position: absolute;
  background: #20A4DC;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#86E7F7, #20A4DC, #012897);
  /* Standard syntax */
  top: 23px;
  left: 0;
  height: 70px;
  width: 5px;
}
.knowledge-container .education .content-container:before {
  content: '';
  position: absolute;
  background: #20A4DC;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#86E7F7, #20A4DC, #012897);
  /* Standard syntax */
  top: 23px;
  left: 0;
  height: 70px;
  width: 5px;
}
.tech-knowledge .content-container ul li {
  margin-bottom: 10px;
}
.tech-knowledge .content-container ul li .lang-tech-name {
  font-weight: 600;
}
.tech-knowledge .content-container .logo-img {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
}
.tech-knowledge .content-container .logo-img:hover {
  transform: scale(1.8);
  margin-right: 10px;
}
.tech-knowledge .content-container .dev-languages ul:before {
  content: '';
  position: absolute;
  background: #20A4DC;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#86E7F7, #20A4DC, #012897);
  /* Standard syntax */
  top: 0;
  left: 0;
  height: 200px;
  width: 5px;
}
.tech-knowledge .content-container .dev-courses-tech ul:before {
  content: '';
  position: absolute;
  background: #20A4DC;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#86E7F7, #20A4DC, #012897);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#86E7F7, #20A4DC, #012897);
  /* Standard syntax */
  top: 0;
  left: 0;
  height: 340px;
  width: 5px;
}
@keyframes firstSpin {
  0% {
    transform: rotate(0deg) scale(1);
    margin-right: 5px;
  }
  50% {
    transform: rotate(180deg) scale(1.5);
    margin-right: 15px;
  }
  100% {
    transform: rotate(360deg) scale(1);
    margin-right: 5px;
  }
}
.palleteToRightCyan {
  background: #20A4DC;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, #86E7F7, #20A4DC, #304153);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, #86E7F7, #20A4DC, #304153);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, #86E7F7, #20A4DC, #304153);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, #86E7F7, #20A4DC, #304153);
  /* Standard syntax */
}
.experience {
  border-width: 10px 60px 10px 0;
  background: #304153;
  padding-bottom: 25px;
  color: #fff;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 0, 100% 0, #86E7F7, #20A4DC, #304153) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(left, #86E7F7, #20A4DC, #304153) 1 100%;
  -moz-border-image: -moz-linear-gradient(left, #86E7F7, #20A4DC, #304153) 1 100%;
  -o-border-image: -o-linear-gradient(left, #86E7F7, #20A4DC, #304153) 1 100%;
  border-image: linear-gradient(to left, #86E7F7, #20A4DC, #304153) 1 100%;
}
.experience .content-container .work-row {
  margin-bottom: 20px;
  position: relative;
}
.experience .content-container .work-row:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 85%;
  bottom: -10px;
  left: 0;
  background: #20A4DC;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, #86E7F7, #20A4DC, #304153);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, #86E7F7, #20A4DC, #304153);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, #86E7F7, #20A4DC, #304153);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, #86E7F7, #20A4DC, #304153);
  /* Standard syntax */
}
.experience .content-container .work-row .work-header {
  font-size: 1.6em;
}
