<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <header>
                <div>
                    <h1>Raz Mantzur</h1>
                    <h4>.NET Framework & Web-Developper</h4>
                </div>
            </header>
            <section>
                <cv-navbar></cv-navbar>
            </section>
        </div>
        <section class="personal-details col-xs-12" id="personal-details">
            <div class="row">
                <div class="left-row col-xs-5">
                    <h2>Personal Information</h2>
                    <div class="email">
                        <span>Email: </span>
                        <span>Raz5945@gmail.com</span>
                    </div>
                    <div class="phone">
                        <span>Phone number: </span>
                        <span>053-7244688</span>
                    </div>
                    <div>
                        <span>LinkedIn: </span>
                        <a href="https://il.linkedin.com/in/raz-mantzur-24a29912a">https://il.linkedin.com/in/raz-mantzur-24a29912a</a>
                    </div>
                    <div>
                        <span>City: </span>
                        <span>Herzliya</span>
                    </div>
                    <div class="icons-container">
                        <ul>
                            <a>Git</a>
                            <a>Linkdin</a>
                        </ul>
                    </div>
                </div>
                <div class="right-row col-xs-7">
                    <div class="row">
                        <img class="col-xs-3" />
                        <div class="summary col-xs-9">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                            make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                            of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                            software like Aldus PageMaker including versions of Lorem Ipsum
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="education col-xs-12" id="education">
            <h2>
                High school
            </h2>
            <div>
                Full high school Diploma, Extended professions: majored in Music (5 units) and Sports Anatomy and Psychology (5 units).
            </div>
        </section>
        <section class="high-education col-xs-12" id="high-education">
            <h2>
                Professional Education
            </h2>
            <div>
                Graduated a Software Development course in "Sela" college. Duration of course: 1 Year, 1173 academic hours
            </div>
        </section>
        <section class="tech-knowledge col-xs-12" id="tech-knowledge">
            <h2>
                Technological knowledge
            </h2>
            <div>
                <h3>Development Environments:</h3>
                <div>
                    .NET Framework 4.5 & Web-Development
                </div>
                <h3>Programming languages:</h3>
                <div>
                    C#, HTML5, CSS3 + Less, JavaScript, SQL
                </div>
                <h3>Courses & Technologies</h3>
                <div>
                    <ul>
                        <li>Angular1, 2</li>
                        <li>Grunt</li>
                        <li>JQuery</li>
                        <li>ASP.NET MVC & Web API</li>
                        <li>Entity Framework 6</li>
                        <li>Data Structures Using C#</li>
                        <li>Design Patterns & Adv. Techniques in .NET</li>
                        <li>Windows Azure and Web Services</li>
                        <li>WPF</li>
                        <li>Windows 10 Apps, WCF</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="experience col-xs-12" id="experience">
            <h2>Professional Experience</h2>
            <div>
                <div>2017 - </div>
                <div>MyPensya - I worked as a Frontend developer in a startup that deals with Pensions & Insurances</div>
                <div>Programming Languages & Techniques: AngularJS - JavaScript, CSS - Less, HTML, Grunt</div>
            </div>
            <div>
                <div>2015-2016 - </div>
                <div>Forex - Selling Trading Accounts for Stocks, Foreign Exchange and Commodities,</div>
                <div>to people from all over the world</div>
            </div>
            <div>
                <div>2014-2015 - </div>
                <div>I Worked for 8 mounths in selling cosmetics products using English & French languages</div>
            </div>
            <div>
                <div>2013-2014 - </div>
                <div>Original's -Started as a Shift Manager Then as a Store Manager</div>
            </div>
            <div>
                <div>2011-2013 - </div>
                <div>A Waiter and Bartender at SantaFe restaurant</div>
            </div>
        </section>
        <section class="military col-xs-12" id="military">
            <h2>Military service</h2>
            <div>
                2008-2011: Full military service in the Ordnance Corps, as a tank mechanic. Discharged in the rank of Staff Sargent.
            </div>
        </section>
        <section class="languages col-xs-12" id="languages">
            <h2>Languages</h2>
            <ul>
                <li>Hebrew: Native language</li>
                <li>English: Excellent command / Highly proficient in spoken and written English</li>
                <li>German: Good communication skills / working knowledge</li>
            </ul>
        </section>
        <section class="miscellaneous col-xs-12" id="miscellaneous">
            <h2>Miscellaneous</h2>
            <div>
                Since the end of my military service, and to this day, I'm engaged in music (piano, guitar and vocals).
            </div>
        </section>
    </div>
</div>