<div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 header-container">
                <header>
                    <div class="main-details">
                        <h1 class="name">Raz Mantzur</h1>
                        <h4 class="main-dev">.NET Framework & Web-Developper</h4>
                    </div>
                </header>
                <section>
                    <cv-navbar></cv-navbar>
                </section>
            </div>
            <section class="personal-details col-xs-12" id="personal-details">
                <div class="row">
                    <div class="left-row col-xs-7">
                        <div class="row">
                            <div class="col-xs-3">
                                <img src="/images/blue-parenthesis.png" alt="left-parenthesis" class="parenthesis-img">
                            </div>
                            <div class="col-xs-9">
                                <h2>Personal Information</h2>
                                <div class="email">
                                    <span>Email: </span>
                                    <span>Raz5945@gmail.com</span>
                                </div>
                                <div class="phone">
                                    <span>Phone number: </span>
                                    <span>053-7244688</span>
                                </div>
                                <div>
                                    <span>LinkedIn: </span>
                                    <a href="https://il.linkedin.com/in/raz-mantzur-24a29912a">https://il.linkedin.com/in/raz-mantzur-24a29912a</a>
                                </div>
                                <div>
                                    <span>City: </span>
                                    <span>Herzliya</span>
                                </div>
                                <div class="icons-container">
                                    <ul>
                                        <a>Git</a>
                                        <a>Linkdin</a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-row col-xs-5">
                        <div class="row">
                            <div class="summary col-xs-12">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                to make a type specimen book. It has survived not only five centuries, but also the leap
                                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                                with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="knowledge-container">
               <tech-knowledge></tech-knowledge>
                <section class="high-education col-xs-6" id="high-education">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>
                                Professional Education
                            </h2>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-offset-1 col-xs-11 content-container">
                                    <h3>
                                        <span>Sela College</span>
                                        <span class="glyphicon glyphicon-education education-icon"></span>
                                    </h3>
                                    <div>
                                        <div>Graduated a Software Development course in "Sela" college.</div>
                                        <div>Duration of course: 1 Year, 1173 academic hours</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="education col-xs-6" id="education">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>
                                High school
                            </h2>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-offset-1 col-xs-11 content-container">
                                    <h3>Maale Shaharut school</h3>
                                    <div>
                                        <div>Full high school Diploma, Extended professions:</div>
                                        <div>majored in Music (5 units) and Sports Anatomy and Psychology (5 units).</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <section class="experience col-xs-12" id="experience">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Professional Experience</h2>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-11 content-container">
                            <div>
                                <div>2017 - </div>
                                <div>MyPensya - I worked as a Frontend developer in a startup that deals with Pensions & Insurances</div>
                                <div>Programming Languages & Techniques: AngularJS - JavaScript, CSS - Less, HTML, Grunt</div>
                            </div>
                            <div>
                                <div>2015-2016 - </div>
                                <div>Forex - Selling Trading Accounts for Stocks, Foreign Exchange and Commodities,</div>
                                <div>to people from all over the world</div>
                            </div>
                            <div>
                                <div>2014-2015 - </div>
                                <div>I Worked for 8 mounths in selling cosmetics products using English & French languages</div>
                            </div>
                            <div>
                                <div>2013-2014 - </div>
                                <div>Original's -Started as a Shift Manager Then as a Store Manager</div>
                            </div>
                            <div>
                                <div>2011-2013 - </div>
                                <div>A Waiter and Bartender at SantaFe restaurant</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="languages col-xs-12" id="languages">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Languages</h2>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-11 content-container">
                            <ul>
                                <li>Hebrew: Native language</li>
                                <li>English: Excellent command / Highly proficient in spoken and written English</li>
                                <li>German: Good communication skills / working knowledge</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="military col-xs-12" id="military">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Military service</h2>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-11 content-container">
                            <div>
                                2008-2011: Full military service in the Ordnance Corps, as a tank mechanic. Discharged in the rank of Staff Sargent.
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="miscellaneous col-xs-12" id="miscellaneous">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Miscellaneous</h2>
                    </div>

                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-11 content-container">
                            <div>
                                Since the end of my military service, and to this day, I'm engaged in music (piano, guitar and vocals).
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>