<section>
    <cv-navbar></cv-navbar>
</section>
<div class="container rtl">
    <div class="row">
        <section class="personal-details" id="personal-details">
            <h2>Personal Information</h2>
            <div class="email">
                <span>Email: </span>
                <span>Raz5945@gmail.com</span>
            </div>
            <div class="phone">
                <span>Phone number: </span>
                <span>053-7244688</span>
            </div>
            <div>
                <span>LinkedIn: </span>
                <a href="https://il.linkedin.com/in/raz-mantzur-24a29912a">https://il.linkedin.com/in/raz-mantzur-24a29912a</a>
            </div>
            <div>
                <span>City: </span>
                <span>Herzliya</span>
            </div>
        </section>
        <section class="education" id="education">
            <h2>
                High school
            </h2>
            <div>
                12 שנות לימוד במגמה עיונית + בגרות מלאה. מקצועות מורחבים: 5 יח"ל במגמת מוסיקה ו-5 יח"ל במגמת ספורט.
            </div>
        </section>
        <section class="high-education" id="high-education">
            <h2>
                Professional Education
            </h2>
            <div>
                בוגר מכללת סלע בקורס פיתוח תוכנה: היקף : 1173 שעות אקדמיות , משך הקורס: שנה
            </div>
        </section>
        <section class="tech-knowledge" id="tech-knowledge">
            <h2>
                Technological knowledge
            </h2>
            <div>
                <h3>Development Environments:</h3>
                <div>
                    .NET Framework 4.5 & Web-Development
                </div>
                <h3>Programming languages:</h3>
                <div>
                    C#, HTML5, CSS3 + Less, JavaScript, SQL
                </div>
                <h3>Courses & Technologies</h3>
                <div>
                    <ul>
                        <li>Angular1, 2</li>
                        <li>Grunt</li>
                        <li>JQuery</li>
                        <li>ASP.NET MVC & Web API</li>
                        <li>Entity Framework 6</li>
                        <li>Data Structures Using C#</li>
                        <li>Design Patterns & Adv. Techniques in .NET</li>
                        <li>Windows Azure and Web Services</li>
                        <li>WPF</li>
                        <li>Windows 10 Apps, WCF</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="experience" id="experience">
            <h2>Professional Experience</h2>
            <div>
                <div>2017 - </div>
                <div>MyPensya - I worked as a Frontend developer in a startup who deals with Pensions & Insurances</div>
                <div>Programming Languages & Techniques: AngularJS - JavaScript, CSS - Less, HTML, Grunt</div>
                <!-- 2017 - מפתח WEB צד לקוח ב- MyPensya – כתבתי את צד הלקוח בסטארטאפ העוסק בפנסיות וביטוחים. שפות וטכנולוגיות: JavaScript, CSS
                - Less, HTML, Grunt AngularJS -. -->
            </div>
            <div>
                <div>2015-2016 - </div>
                <div>Forex - Selling Trading Accounts of Stocks, Foreign Exchange and Commodities</div>
                <div>To people from all over the world</div>
                <!--  2015-2016 -Forex - מכירת חשבונות מסחר של מניות, סחורה ומטבעות בשפה האנגלית. בעבודה הושם דגש על עמידה ביעדים, שפת אנגלית ברמה
                גבוהה ויכולת שכנוע ברמה גבוהה. -->
            </div>
            <div>
                <div>2014-2015 - </div>
                <div>I Worked for 8 mounths in selling cosmetics products using English & French languages</div>
                <!--  2014-2015 - עבודה בחו"ל–8 חודשים עבודה בעגלות, מכירת מוצרי קוסמטיקה בצרפתית ואנגלית. -->
            </div>
            <div>
                <div>2013-2014 - </div>
                <div>Original's -Started as a Shift Manager Then as a Store Manager</div>
                <!--  2013-2014 - רשת אוריג'ינלס – תחילת עבודה כאחמ"ש ולאחר מכן מנהל חנות. -->
            </div>
            <div>
                <div>2011-2013 - </div>
                <div>A Waiter and Bartender at SantaFe restaurant</div>
            </div>
        </section>
        <section class="military" id="military">
            <h2>Military service</h2>
            <div>
                2008 - 2011 : שירות מלא בחיל החימוש, בתפקיד מכונאי טנק, השתחררתי בדרגת סמר.
            </div>
        </section>
        <section class="languages" id="languages">
            <h2>Languages</h2>
            <ul>
                <li>Hebrew: Native language</li>
                <li>English: Excellent command / Highly proficient in spoken and written English</li>
                <li>German: Good communication skills / working knowledge</li>
            </ul>
        </section>
        <section class="miscellaneous" id="miscellaneous">
            <h2>Miscellaneous</h2>
            <div>
                מתום השירות הצבאי שלי ועד היום אני עוסק גם במוזיקה(פסנתר, גיטרה ושירה).
            </div>
        </section>
    </div>
</div>