section{
    margin-bottom: 50px;
}
.container{
    background: #F9F9F9;
}
.header-container{
    .main-details{
        color: @mainDarkBlue;
    .name{
    }
    .main-dev{            
    }
  }
}

.personal-details{
    padding: 50px 0;
    background: #fff;
    .left-row{
        .parenthesis-img{
            height: 200px;
        }
        .icons-container{
            padding-top: 10px;
            .logo-img{
               height: 25px;
               width: 25px;
               margin-right: 5px;
               object-fit: contain;
               animation: firstSpin 1s linear 0.5s;
            }
        }
    }
    .right-row{
        padding: 20px 0;
    }
     &:before{
           content: '';
           position: absolute;
           .paletteBlueCyanRight;
           top: 50;
           left: 100px;
           height: 5px;
           width: 90%;
        }
         &:after{
           content: '';
           position: absolute;
           .paletteBlueCyanRight;
           top: 245px;
           left: 100px;
           height: 5px;
           width: 90%;
        }
}
.knowledge-container{
    .high-education{
        .content-container{
            .education-icon{
                margin-left: 5px;
            }
            &:before{
                content: '';
                position: absolute;
                .paletteBlueCyanDown;
                top: 23px;
                left: 0;
                height: 70px;
                width: 5px;
          }
       }
    }
    .education{
        .content-container{
            &:before{
                content: '';
                position: absolute;
                .paletteBlueCyanDown;
                top: 23px;
                left: 0;
                height: 70px;
                width: 5px;
            }
        }
    }
}
.languages{

}