<div class="logos-spinner-container" *ngIf="show" [@spinnerShow]="active">
    <div class="pics-container">
        <div class="drive">
            <span class="one"></span>
            <span class="two"></span>
            <span class="three"></span>
            <span class="four"></span>
            <div class="pics-wheel">
                <img class="angular-logo" src="/images/angular-logo.png">
                <img class="javascript-logo" src="/images/javascript_logo.png">
                <img class="html-logo" src="/images/HTML5_logo.png">
                <img class="css-logo" src="/images/CSS-logo.png">
                <img class="c-sharp-logo" src="/images/c-sharp-logo.png">
                <img class="grunt-logo" src="/images/grunt-logo.png">
                <img class="azure-logo" src="/images/azure-logo.png">
                <img class="sql-logo" src="/images/sql-logo.png">
                <img class="jquery-logo" src="/images/jquery-logo.png">
                <img class="windows-logo" src="/images/windows-logo.png">
            </div>
        </div>
    </div>
</div>