<div class="logos-spinner-container" *ngIf="show" [@spinnerShow]="active">
    <div class="pics-container">
        <div class="pics-changer">
            <img class="angular-logo" src="/images/angular-logo.png">
            <img class="javascript-logo" src="/images/javascript_logo.png">
            <img class="html-logo" src="/images/HTML5_logo.png">
            <img class="css-logo" src="/images/CSS-logo.png">
            <img class="c-sharp-logo" src="/images/c-sharp-logo.png">
            <img class="typescript-logo" src="/images/typescript-logo.png"> 
            <span></span>
        </div>
    </div>
</div>