<div class="bomb-container" *ngIf="show" [@bombShow]="active">
    <div>
        <div>
            <div>
                <div class="pics-container">
                    <div class="pics-changer">
                        <img class="angular-logo" src="/images/angular-logo.png">
                        <img class="javascript-logo" src="/images/javascript_logo.png">
                        <img class="html-logo" src="/images/HTML5_logo.png">
                        <img class="css-logo" src="/images/CSS-logo.png">
                        <img class="c-sharp-logo" src="/images/c-sharp-logo.png">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>