<div class="bomb-container" *ngIf="show" [@bombShow]="activeBomb">
    <div>
        <div>
            <div>
                <div class="pics-container">
                        <img class="angular-logo" src="/images/angular-logo.png">
                        <img class="javascript-logo" src="/images/javascript_logo.png">
                        <img class="html-logo" src="/images/HTML5_logo.png">
                        <img class="css-logo" src="/images/CSS-logo.png">
                        <img class="c-sharp-logo" src="/images/c-sharp-logo.png">
                    </div>
                    <div class="pics-row" *ngIf="bombFinish" [@rowShow]="activeRow">
                        <img class="html-logo" src="/images/HTML5_logo.png">
                        <img class="javascript-logo" src="/images/javascript_logo.png">
                        <img class="angular-logo" src="/images/angular-logo.png">
                        <img class="css-logo" src="/images/CSS-logo.png">
                        <img class="c-sharp-logo" src="/images/c-sharp-logo.png">
                    </div>
                    <div class="particles" *ngIf="bombFinish">
                        <span class="zero"></span>
                        <span class="one"></span>
                        <span class="two"></span>
                        <span class="three"></span>
                        <span class="four"></span>
                        <span class="five"></span>
                        <span class="six"></span>
                        <span class="seven"></span>
                        <span class="eight"></span>
                        <span class="nine"></span>
                        <span class="ten"></span>
                        <span class="eleven"></span>
                        <span class="twelve"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
